<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVRnyeLLD9PNNcQDvso9ulWDOgoIfagB0</string>
	<key>GCM_SENDER_ID</key>
	<string>600000852585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eltager</string>
	<key>PROJECT_ID</key>
	<string>eltager-4ccfc</string>
	<key>STORAGE_BUCKET</key>
	<string>eltager-4ccfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600000852585:ios:a53d861d56a725951fe8f8</string>
</dict>
</plist>